* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app h1 {
    font-weight: 700;
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 90%;
    letter-spacing: -0.05em;
    color: #000000;
    width: 75%;
    text-align: center;
}